body {
    font-family: 'Poppins', sans-serif;
    background-color: #cecece;
    margin: 0;
    padding: 0;
}

/* Encabezado 
.form-header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 25px;
}

.logo {
    width: 100px;
    display: block;
    margin: 0 auto 30px;
    margin-top: 30px;
    transform: scale(2.0);
    transform-origin: center;
}
*/
.form-header {
    background-color: black;
    color: white;
    padding: 25px;

    display: flex;               /* elementos en línea */
    align-items: center;         /* centra verticalmente */
    justify-content: center;     /* centra horizontalmente */
    gap: 40px;                   /* espacio entre logo y título */
}

.logo {
    width: 100px;
    transform: scale(1.8);       /* si quieres que se vea más grande */
    transform-origin: center;
    

    /* QUITAR estas tres porque causan el desalineado:
       display: block;
       margin: 0 auto 30px;
       margin-top: 30px;
    */
}


/* Contenedor principal */
.form-container {
    max-width: 700px;
    margin: 30px auto;
    background: rgb(230, 217, 217);
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

/* Pasos */
.form-step {
    display: none;
}

.form-step.active {
    display: block;
}

/* Inputs */
label {
    display: block;
    margin-top: 15px;
    font-weight: 500;
}

input, textarea {
    width: 97%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-top: 5px;
    font-size: 1rem;
}

select {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-top: 5px;
    font-size: 1rem;
}

input:focus, select:focus, textarea:focus {
    border-color: #0d6efd;
    box-shadow: 0 0 5px rgba(13, 110, 253, 0.4);
    outline: none;
}

/* Botones */
button {
    background-color: #dabe04;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
    font-weight: 600;
}

button:hover {
    background-color: #cecece;
}

.buttons {
    display: flex;
    justify-content: space-between;
    padding: 0 80px;
}

/* Barra de progreso */
#progress-bar {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 25px;
}

#progress {
    height: 10px;
    width: 12.5%;
    background-color: #dabe04;
    transition: width 0.3s ease;
}

/* Secciones dinámicas */
.hidden {
    display: none !important;
}

/* Cards de hijos e inversiones */
.child-card {
    position: relative;
    background: #f9fafc;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    margin-top: 15px;
}

.child-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete-childs {
    background: transparent;
    border: none;
    color: #d33;
    font-size: 1.0rem;
    cursor: pointer;
    font-weight: bold;
}

.delete-childs:hover {
    color: #a00;
    transform: scale(0.8);
}


.box-variables {
    background: #f9fafc;    
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    margin-top: 12px;
    transition: all 0.3s ease-in-out;
}

/* Responsivo */
@media (max-width: 600px) {
    .form-container {
        padding: 20px;
        margin: 15px;
    }

    button {
        width: 100%;
    }
}


.multi-slider {
    position: relative;
    width: 94%;
    height: 50px;
    margin: 15px 0 15px 0;
}



.bar {
    position: absolute;
    top: 18px;
    left: 10px;
    right: -10px;
    height: 15px;
    border-radius: 10px;
    display: flex;
    overflow: hidden;
    z-index: 1;
}

.seg {
    height: 20px;
    border-radius: 0;   
}

.fija      { background: #dabe04; }
.variable  { background: #1e52cc; }
.altern    { background: #ad975b; }
.cash      { background: #f6ac23; }

.handle {
    position: absolute;
    width: 100%;
    pointer-events: none;
    appearance: none;
    -webkit-appearance: none;
    height: 15px;
    background: none;
    z-index: 2;
    transform: translateY(2px);
}

.handle::-webkit-slider-thumb {
    pointer-events: all;
    -webkit-appearance: none;
    background: #ffffff;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 3px solid #cdcdcd;
    cursor: pointer;
}

.valores {
    margin-top: 8px;
    font-size: 0.9 rem;
    line-height: 1.6;
}

.tag {
    padding: 3px 8px;
    border-radius: 6px;
    color: white;
    display: inline-block;
    margin-bottom: 8px;
}

/* Colores asociados igual que los segmentos */
.fija-tag {
    background-color: #dabe04;
}

.variable-tag {
    background-color: #1e52cc;
}

.altern-tag {
    background-color: #ad975b;
}

.cash-tag {
    background-color: #f6ac23;
}

.contenedor-chart {
    margin-bottom: 40px;
    padding-left: 180px;
    padding-right: 180px;
}

.contenedor-tablas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    margin-top: 40px;
    padding-left: 180px;  
    padding-right: 180px;
    margin-bottom: 40px;
}


.contenedor-tablas-una {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
}

#tablaEducacion {
    width: 100%;
}

.tabla-educacion {
    width: 100%;
    /*max-width: 1800px; /* controla el ancho visual */
}


.tabla-resumen {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    font-size: 14px;
}

.tabla-resumen th {
    background: #e6e6e6;
    text-align: left;
    padding: 10px;
    font-weight: 600;
}

.tabla-resumen td {
    padding: 8px 10px;
    border-bottom: 1px solid #eee;
}

.tabla-resumen td:last-child {
    text-align: right;
    font-weight: 600;
}

.print-only {
    display: none;
}

.tabla-educacion {
    width: 100%;
    table-layout: fixed;
    text-align: center;
}

.tabla-resumen th,
.tabla-resumen td {
    width: auto;
    text-align: center;
}


.contendor_educacion {
    width: 70%;
    /*max-width: 1100px;*/
    margin: 40px auto;
}


.velocimetro_container {
    width: 500px;
    height: 250px; /* altura real del semicirculo */
    margin: 0 auto;
    position: relative;
    margin-top: 50px;
}

.resumen_cobertura {
    text-align: center;
    margin-bottom: 20px;
}

.label_porcentaje {
    font-size: 32px;
    font-weight: 600;
    color: #000;
}

.label_estado {
    font-size: 16px;
    font-weight: 700;
    margin-top: 4px;
}

.label_consejo {
    font-size: 14px;
    color: #666;
    font-style: italic;
    margin-top: 6px;
    max-width: 520px;
    margin-left: auto;
    margin-right: auto;
}


.semicirculo {
    width: 100%;
    height: 100%;
    background: lightgray;
    border-top-left-radius: 250px;
    border-top-right-radius: 250px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    position: relative;
    overflow: hidden;
}

.tapa_interior {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    width: 80%;        /* controla grosor del anillo */
    height: 80%;

    background: #cecece; /* mismo color del fondo */
    border-top-left-radius: 1000px;
    border-top-right-radius: 1000px;
}


.td-money {
    text-align: left;
    white-space: nowrap;
}

.td-total {
    text-align: center;
    font-weight: 700;
}


.arco_fill {
    width: 100%;
    height: 200%;
    position: absolute;
    /*bottom: 0;*/
    top: -100;
    left: 0;

    border-radius: 50%;

    /*transform-origin: bottom center;

    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    transform: rotate(-90deg);
    background: conic-gradient(
        from 90deg at 50% 100%,
        red 0deg 9deg,
        orange 9deg 45deg,
        green 45deg 117deg,
        blue 117deg 180deg
    );
    transition: backgou;*/
}


.aguja {
    width: 2.5px;
    height: 240px;
    background: black;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform-origin: bottom center;
    transform: rotate(-90deg);
    transition: transform 1s ease;
}

.punto_central {
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    bottom: -2.5px;
    left: 50%;
    transform: translateX(-50%);
}

.semicirculo_container {
    width: 400px;
    height: 200px; /* altura real del semicirculo */
    margin: 0 auto;
    position: relative;
    margin-top: -200px;
}

.punto_semicirculo {

    width: 100%;
    height: 100%;
    background: #cecece;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    position: relative;
    overflow: hidden;
}

@media print {

    body {
        margin: 0;
        padding: 0;
    }

    .form-header {
        background-color: #000 !important;
        color: #fff !important;

        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }

    /*.form-header h1 {
        color: #fff !important;
    }*/

    .contenedor-chart {
        padding-left: 0 !important;
        padding-right: 0 !important;
        margin: 0 auto 30px auto;
        width: 90%;
    }

    canvas {
        display: block;
        margin: 0 auto !important;
        max-width: 100% !important;
    }

    .contenedor-tablas {
        padding-left: 0 !important;
        padding-right: 0 !important;
        width: 90%;
        margin: 20px auto;
    }

    .tabla-resumen,
    .tabla-resumen th,
    .tabla-resumen td {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }

    .print-only {
        display: block !important;
        font-size: 11px;
        color: #555;
        margin-top: 30px;
        text-align: center;
    }

    .buttons {
        display: none !important;
    }

    button {
        display: none !important;
    }
    /*
    .tabla-resumen th {
        background-color: #e6e6e6 !important;
        color: #000 !important;
    }

    .tabla-resumen tr:last-child td {
        background-color: #f2f2f2 !important;
        font-weight: 700;
    }
*/

}

