<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Plan Educativo</title>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/form.css') }}">
</head>

<body>

<header class="form-header">
    <img src="{{ url_for('static', filename='img/zest_logo.png') }}"
         alt="Zest Logo"
         class="logo">

    <h1>Resultados de Plan Financiero</h1>
</header>


<!-- ========================= -->
<!-- CONTENIDO PAGINA 2 -->
<!-- ========================= -->

<div class="contendor_Propuesta_Inversion">
    <h3 style="text-align:center; margin-bottom:18px;">
        Propuesta de Inversion
    </h3>
</div>